<article class="content">
    <div class="wrap content-inn">
        <h1 class="content__title">О нас</h1>
            
        <div class="breadcrumbs">
            <a class="breadcrumbs__link" href="#">Главная</a> / <span>О нас</span>
        </div>

        <div class="services">
            <a href="#" class="service-one" style="background-image: url(tmp/usl1.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon1.png);"></div>
                <div class="service-one__title">Тренажерный<br>зал</div>
            </a>
            <a href="#" class="service-one service-one--duble" style="background-image: url(tmp/usl2.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon2.png);"></div>
                <div class="service-one__title">центр боевых искусств<br>и кроссфита</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl3.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon3.png);"></div>
                <div class="service-one__title">групповые<br>программы</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl4.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon4.png);"></div>
                <div class="service-one__title">водные<br>программы</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl5.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon5.png);"></div>
                <div class="service-one__title">СТУДИЯ<br>MIND BODY</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl6.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon6.png);"></div>
                <div class="service-one__title">детский<br>клуб</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl7.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon7.png);"></div>
                <div class="service-one__title">фитнес-бар</div>
            </a>
            <a href="#" class="service-one" style="background-image: url(tmp/usl8.jpg);">
                <div class="service-one__icon" style="background-image: url(tmp/usl-icon8.png);"></div>
                <div class="service-one__title">SPA-ЗОНА<br>И СОЛЯРИЙ</div>
            </a>
        </div>
    </div>
</article>