<article class="content">
    <div class="wrap content-inn">
        <h1 class="content__title">Успехи резидентов</h1>
            
        <div class="breadcrumbs">
            <a class="breadcrumbs__link" href="#">Главная</a> / <span>Успехи резидентов</span>
        </div>
            
        <div class="rezidents">
            <div class="rezident">
                <div class="rezident-name">КВАРДИНА ЕЛЕНА</div>
                <div class="rezident-before">
                    <img src="tmp/rezident-before.jpg" alt="">
                    <div class="rezident__date">Февраль 2017</div>
                </div>
                <div class="rezident-after">
                    <img src="tmp/rezident-after.jpg" alt="">
                    <div class="rezident__date">Май 2017</div>
                </div>
            </div>
            <div class="rezident">
                <div class="rezident-name">КВАРДИНА ЕЛЕНА</div>
                <div class="rezident-before">
                    <img src="tmp/rezident-before.jpg" alt="">
                    <div class="rezident__date">Февраль 2017</div>
                </div>
                <div class="rezident-after">
                    <img src="tmp/rezident-after.jpg" alt="">
                    <div class="rezident__date">Май 2017</div>
                </div>
            </div>
            <div class="rezident">
                <div class="rezident-name">КВАРДИНА ЕЛЕНА</div>
                <div class="rezident-before">
                    <img src="tmp/rezident-before.jpg" alt="">
                    <div class="rezident__date">Февраль 2017</div>
                </div>
                <div class="rezident-after">
                    <img src="tmp/rezident-after.jpg" alt="">
                    <div class="rezident__date">Май 2017</div>
                </div>
            </div>
            <div class="rezident">
                <div class="rezident-name">КВАРДИНА ЕЛЕНА</div>
                <div class="rezident-before">
                    <img src="tmp/rezident-before.jpg" alt="">
                    <div class="rezident__date">Февраль 2017</div>
                </div>
                <div class="rezident-after">
                    <img src="tmp/rezident-after.jpg" alt="">
                    <div class="rezident__date">Май 2017</div>
                </div>
            </div>
        </div>
            
    </div>
        
</article>