<div class="calendar">
  <div class="calendar-mounth">
    <a href="#" class="calendar-mounth__prew"></a>
    <div class="calendar-mounth__this">
      Октябрь 2017
    </div>
    <a href="#" class="calendar-mounth__next"></a>
  </div>

  <div class="calendar-filtr table-body">
    <div class="calendar-club table-cell">
      <span>
        Клуб на ул. Мельникова, 27 <i></i>
      </span>
      <div class="calendar-club-list">
        <label>Клуб на ул. Мельникова, 27
          <input type="radio" name="calendarClub" checked="checked" value="club1">
        </label>
        <label>Клуб на ул. Бажова, 68
          <input type="radio" name="calendarClub" value="club2">
        </label>
      </div>
    </div>
    <div class="calendar-type table-cell">
      <div class="calendar-type-inn">
        <label class="calendar-type-one calendar-type--grup">
          Групповые программы
          <input type="radio" name="calendarType" value="grup">
        </label>
        <label class="calendar-type-one calendar-type--kids">
          детский клуб
          <input type="radio" name="calendarType" value="kids">
        </label>
        <label class="calendar-type-one calendar-type--water">
          водные программы
          <input type="radio" name="calendarType" value="water">
        </label>
        <label class="calendar-type-one calendar-type--all active">
          Все занятия
          <input type="radio" name="calendarType" checked="checked" value="all">
        </label>
      </div>
      <div class="calendar-club calendar-club--mobile">
        <span class="filtr-icon filtr-icon--all">
          Все занятия<i></i>
        </span>
        <div class="calendar-club-list">
          <label data-icon="all">Все занятия
            <input type="radio" name="type-mobile" checked="checked" value="all">
          </label>
          <label data-icon="grup">Групповые программы
            <input type="radio" name="type-mobile" value="grup">
          </label>
          <label data-icon="kids">Детский клуб
            <input type="radio" name="type-mobile" value="kids">
          </label>
          <label data-icon="water">Водные программы
            <input type="radio" name="type-mobile" value="water">
          </label>
        </div>
      </div>
    </div>
  </div>
  

  <div class="calendar-days">
    <div class="swiper-wrapper">
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">пн</div>
          <div class="calendar-day-top__date">02 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">вт</div>
          <div class="calendar-day-top__date">03 окт.</div>
        </div>
        
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">ср</div>
          <div class="calendar-day-top__date">04 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">чт</div>
          <div class="calendar-day-top__date">05 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">пт</div>
          <div class="calendar-day-top__date">06 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">сб</div>
          <div class="calendar-day-top__date">07 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">вс</div>
          <div class="calendar-day-top__date">08 окт.</div>
        </div>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">пн</div>
          <div class="calendar-day-top__date">09 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
      <div class="calendar-day swiper-slide">
        <div class="calendar-day-top">
          <div class="calendar-day-top__day">вт</div>
          <div class="calendar-day-top__date">10 окт.</div>
        </div>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="1">
          <div class="calendar-day__type calendar-day__type--group"></div>
          <div class="calendar-day__time">10:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="2">
          <div class="calendar-day__type  calendar-day__type--kid"></div>
          <div class="calendar-day__time">11:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-order" class="calendar-day-one open-modal" data-event="3">
          <div class="calendar-day__type  calendar-day__type--water"></div>
          <div class="calendar-day__time">12:00</div>
          <div class="calendar-day__title">Yoga</div>
          <div class="calendar-day__coach">Демченко Ольга</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
            <div class="calendar-day-icon calendar-day-icon--order"></div>
          </div>
        </a>
        <a href="#calendar-info" class="calendar-day-one open-modal" data-event="4">
          <div class="calendar-day__type"></div>
          <div class="calendar-day__time">13:00</div>
          <div class="calendar-day__title">Секреты долголетия</div>
          <div class="calendar-day__coach">Филимонов Денис</div>
          <div class="calendar-day-icons">
            <div class="calendar-day-icon calendar-day-icon--pay"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>