<article class="content-flex">
    <div class="content-left">
        <div class="content-menu">
            <div class="content-menu__title">
                <span>О нас</span>
            </div>

            <ul>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Миссия и задачи</a></li>
                <li><a href="#">партнерам</a></li>
            </ul>   
        </div>
    </div>
    <div class="content-right">
        <div class="content-right-inn">
            
            <h1 class="content__title">О нас</h1>
            
            <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="#">Главная</a> / <span>О нас</span>
            </div>
            
            <p>Мы создали для Вас фитнес клуб «Fresh Fitness», где Вы сможете не только заниматься фитнесом, обретая стройную и подтянутую фигуру, но и обрести гармонию души и тела. Наш клуб – уникальное место, где Вы можете провести весь день, получая удовольствие от занятия фитнесом.</p>

            <blockquote>Самое главное для нас, чтобы каждый член клуба и гость чувствовал себя комфортно и уютно, тренировки становились приятным времяпрепровождением, а соревнования, праздники и мероприятия клуба - важными событиями для всей семьи.</blockquote>

            <p>ОАО «САИЖК» имеет отделения в городах Нижний Тагил, Первоуральск, Каменск-Уральский, Серов. Принятие решения о выдаче ипотечного займа производится непосредственно в отделениях. Кроме Екатеринбурга и городов-спутников займы выдаются в городах: Арамиль, Берёзовский, В.Тагил, В.Пышма, Кировград, Новоуральск, Полевской, Ревда, Заречный, Невьянск.</p>
            <h1>Заголовок 1 (H1)</h1>
            <h2>Заголовок 2 (H2)</h2>
            <h3>Заголовок 3 (H3)</h3>
            <h4>Заголовок 4 (H4)</h4>
            <h5>Заголовок 5 (H5)</h5>
            <p>Преимуществом общефедеральной программы ипотечного кредитования является ее унификация – установлены «Стандарты процедур выдачи, рефинансирования и сопровождения ипотечных кредитов (займов)».</p>
    
                        <ul>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                            <li>Маркированный список;</li>
                        </ul>

                        <ol>
                            <li>Нумерованный список;</li>
                            <li>Нумерованный список;</li>
                            <li>Нумерованный список;</li>
                            <li>Нумерованный список;</li>
                            <li>Нумерованный список;</li>
                            <li>Нумерованный список;</li>
                        </ol>

            
            <table class="table">
                <tr>
                    <th>Опубликован</th>
                    <th>Наименование документа</th>
                    <th>Тип документа</th>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
                <tr>
                    <td>19.08.2014</td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                    <td>Публичный доклад МБОУ ТСОШ</td>
                    <td>Прочее </td>
                </tr>
            </table>
        </div>
    </div>
        
</article>