<article class="content">
    <div class="wrap content-inn">
        <div class="news-top">
            <div class="news-top-img">
                <img src="tmp/news-one.jpg" alt="">
            </div>
            <div class="news-content">
                <div class="news-top__date">
                    15 июлья 2017
                </div>
                <h1 class="content__title">Летний марафон 2017</h1>

                <p>Хотите 50 000 рублей на путевку и премиум обслуживание от партнера проекта "РОСС Тур"? Участвуйте в новом проекте от сети фитнес клубов Fresh Fitness - "Летний марафон 2017", запишитесь на рецепции!</p>

                <h2>7 причин заработать тур у Росс Тур на Энгельса, 36</h2>
                <ul>
                    <li>известное имя на рынке туризма</li>
                    <li>удобное расположение офиса в центре города</li>
                    <li>бесплатный паркин</li>
                    <li>специалисты с опытом работы более 10 лет</li>
                    <li>рассрочка платежа  на 6 мес без % и переплат</li>
                    <li>Бесплатный персональный вип трансфер в аэропорт
                    (Mercedes-Benz S 400, E класс Mazda CX 7)</li>
                    <li>подарки, бонусы  при бронировании тура</li>
                </ul>

                <p>Для вашего комфортного отдыха проводится строгий контроль туроператоров, осуществляется отбор комфортабельных отелей, оформляется страховка тура.</p>

                <p>РОСС-ТУР - с заботой о вашем отдыхе<br>
                г. Екатеринбург<br>
                ул. Энгельса 36, БЦ ФИЛИТЦЪ, оф 715/1<br>
                сот. 8904-179-75- 57 (WhatsApp, Viber)</p>

                <p>
                    <a href="#">ross-tur-luxury.blizko.ru</a>
                </p>

                //= gallery.html

                <div class="news-bottom">
                    <a href="#">К списку новостей</a>
                </div>
            </div>
        </div>
            
            

            
    </div>
        
</article>