<article class="content">
    <div class="service-top" style="background-image: url(tmp/service-img.jpg)">
        <div class="wrap">
            <h1>Групповые программы</h1>
            <div class="service-top__subtitle">Каждый найдёт спортивное занятие по душе</div>

            <div class="service-link">
                <a href="#descr" class="j-scroll-to">Описание</a>
                <a href="#photo" class="j-scroll-to">Фото</a>
                <a href="#calendar" class="j-scroll-to">Расписание</a>
            </div>
        </div>
    </div>
    <div class="wrap content-inn">
        <mark id="descr">Фитнес – это не только индивидуальные программы оздоровления и моделирования фигуры. Групповые программы занятий имеют массу преимуществ. Они рассчитаны на возрастные группы разной степени подготовленности. Такие тренировки проводятся под руководством тренера. Занятия несут позитивный настрой. Коллективные тренировки сопровождаются подходящей музыкой и дают эмоциональный заряд бодрости.</mark>

        <p>Силовые классы рассчитаны на тренировку определенных групп мышц.</p>

        <p>Основные:</p>

        <ul>
            <li><b>Strong spine</b> – укрепление мышц живота, спины, рук.</li>
            <li><b>ABL</b> – развитие мышц живота, ягодиц, ног.</li>
            <li><b>Total</b> condishion – комплексная тренировка для всех групп мышц увеличенной интенсивности.</li>
        </ul>

        <p><b>Аэробика</b> – самый популярный вид групповых занятий. Используются степ – системы, велотренажеры, беговые дорожки. Фитнес аэробика развивает выносливость всего организма, укрепляет сердечно – сосудистую систему человека. В занятиях на беговой дорожке сочетают бег и энергичную ходьбу. Заниматься на этом тренажере можно людям любого возраста с соответствующими нагрузками. Если вам противопоказаны интенсивные занятия спортом, силовые упражнения, средством поддерживать организм в тонусе могут стать упражнения на этом тренажере.</p>

        <p><b>Сайкл</b> – это современный вид тренировки на велотренажерах. Тренер может регулировать нагрузки на организм, увеличивая или уменьшая обороты тренажера. Сайкл тренировка имитирует велогонки, включает спортивный азарт. Этот вид групповых тренировок доступен и мужчинам и женщинам.</p>

        <p>В фитнес – клубе работают танцевальные классы. Энергичные латино – американские танцы сочетают физическую нагрузку и эстетическое удовольствие. Latina dans, Zumba сочетают элементы испанских, африканских, американских танцев. Stilitto – танцы на каблуках. Укрепляются мышцы ног, эффективно снижается вес. Интенсивные нагрузки в танцевальных упражнениях не так заметны, поскольку сочетаются с эмоциональным удовольствием.</p>

        <h2 style="text-align: center;">Описание групповых программ</h2>

        <h3 style="text-align: center;">Силовые классы</h3>

        <p><b>MT (Muscle Toning)</b> 55 мин</p>

        <p>Силовой урок для тренировки всех крупных групп мышц: спина, грудь, ноги, ягодицы, плечи, руки, живот.</p>
        <p><i>Нагрузка средней интенсивности.</i></p>

        <p><b>Strong Spine & Relax</b> 55 мин</p>

        <p>Силовой урок для укрепления мышц спины, живота и пояса верхних конечностей, упражнения для реабилитации позвоночника, расслабления мышц с помощью специального оборудования.</p>
        <p><i>Для любого уровня подготовленности</i></p>

        <p><b>ABL (Abdominals-Bottoms-Legs)</b> 55 мин</p>

        <p>Силовой урок для тренировки мышц ног, живота и ягодиц. </p>
        <p><i>Нагрузка средней и высокой интенсивности.</i></p>

        <h3 style="text-align: center;">Аэробика и кардио</h3>

        <p><b>Cycle</b> 55 мин</p>

        <p>Кардиотренировка на стационарных велотренажерах. </p>
        <p><i>Нагрузка средней и высокой интенсивности.</i></p>

        <p><b>Step</b> 55 мин  </p>

        <p>Аэробика с использованием степ-платформы. Разучивание комбинаций и танцевальных элементов. Тренируется кардио-респираторная система, улучшается координация, снижается вес. </p>
        <p><i>Нагрузка средней и высокой интенсивности.</i></p>

        //= gallery.html

        //= calendar.html

    </div>
</article>