

<div class="foto-slider" id="photo">
  <h2 style="text-align: center;">Фотогалерея</h2>
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide.jpg" alt="">
                  </div>
                </div>
              </div>
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                      <img src="tmp/service-slide-mini.jpg" alt="">
                  </div>
                </div>
              </div>
</div>
