<article class="content">
    <div class="wrap content-inn">
            <h1 class="content__title">Отзывы</h1>
            
            <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="#">Главная</a> / <span>Отзывы</span>
            </div>
            
            <div class="review">
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
                <a href="/tmp/review.jpg" class="review-one">
                    <img src="tmp/review.jpg" alt="">
                </a>
            </div>
    </div>
        
</article>