<footer class="footer">
    <div class="wrap">
        
        <div class="footer-menu">
            <a href="#">О нас</a>
            <a href="#">Партнерам</a>
            <a href="#">Успехи резидентов</a>
            <a href="#">Вакансии</a>
            <a href="#">Отзывы</a>
            <a href="#">Контакты</a>
        </div>

        <div class="footer-menu">
            <a href="#">Купить карту</a>
            <a href="#">Обратная связь</a>
            <a href="#">Заказать звонок</a>
            <a href="#">Карта сайта</a>
        </div>


        <div class="footer-social">
            <a href="#" class="social-icon social-icon--vk"></a>
            <a href="#" class="social-icon social-icon--fb"></a>
            <a href="#" class="social-icon social-icon--inst"></a>
        </div>
        
        <div class="footer-bottom clearfix">
            <div class="footer-bottom__copy">© Fresh Fitness, 2017. Все&nbspправа&nbspзащищены.</div>
            <a href="#" class="footer-bottom__sm">Создание сайта «СофтМажор»</a>
        </div>
    </div>
</footer>