<header class="header">
    <div class="header-top">
        <a href="#card" class="header-card open-modal"><span>Купить карту</span></a>
        <div class="wrap">
            <div class="header-top-menu">
                <a href="#">О нас</a>
                <a href="#">Успехи резидентов</a>
                <a href="#">Отзывы</a>
                <a href="#">Контакты</a>
            </div>

            
            <div class="adress-select">
                <div class="adress-select-this">Клуб <span>на ул. Мельникова, 27</span><i></i></div>
                <div class="adress-list">
                    <div class="adress-one active" data-phone="+7 (343) 278-84-82">
                        ул. Мельникова, 27
                    </div>
                    <div class="adress-one" data-phone="+7 (343) 278-84-83">
                        ул. Бажова, 68
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="wrap">
            <a href="#mobile-menu" class="open-modal menu-mobile-open">
                
            </a>
            <a href="#" class="header-logo">
                <img src="img/logo.png" alt="">
            </a>

            <div class="header-contact">
                <div class="header-contact__phone">+7 (343) 278-84-82</div>
                <a href="#order" class="header-order open-modal">Заказать звонок</a>
            </div>

            <div class="header-contact--mobile">
                <div class="header-adress--mobile">ул. Мельникова, 27</div>
                <div class="header-contact__phone header-contact__phone--mobile">+7 (343) 278-84-82</div>
                <a href="#mobile-contact" class="mobile-contact open-modal"></a>
            </div>

        </div>
    </div>
    <div class="header-menu">
        <div class="wrap">
            <div class="header-menu-inn">
                <a href="#">Расписание</a>
                <a href="#">Услуги</a>
                <a href="#">Команда</a>
                <a href="#">Мероприятия</a>
                <a href="#">Новости</a>
                <a href="#">Акции</a>
            </div>
        </div>
    </div>
</header>