    <meta charset="UTF-8">
    <title>main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css?ver=1.03">
    
    <!-- Подключение библиотек -->
    <script type="text/javascript" src="js/lib.min.js?ver=1.01"></script>
    <!-- Подключение пользовательских скриптов -->
    <script type="text/javascript" src="js/main.js?ver=1.01"></script>

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700|Fira+Sans:300,400,400i,700&amp;subset=cyrillic" rel="stylesheet">