<div id="overlay">
	<div class="modal" id="order">
		<form action="" id="orderForm">
			<div class="order__inn">
				<div class="modal__close order-close"></div>
				<div class="order-title" style="margin-bottom: 60px;">Заказ звонка</div>
				<div class="order-form">
					<form id="order-form" action="" method="post" >
						<div class="form-line">
							<div class="form-col">
								<input type="text" name="name" placeholder="Ваше имя">
							</div>
							<div class="form-col">
								<input type="text" name="phone" placeholder="Ваш телефон">
							</div>
						</div>
						<div class="form-line">
							<button class="form-send">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</form>
	</div>

	<div class="modal" id="card">
		<form id="order-form" action="" method="post" >
			<div class="order__inn">
				<div class="modal__close order-close"></div>
				<div class="order-title order-title--card">Заказ карты
					<span>Fresh Fitness</span>
				</div>
				<p>Выберите клуб Fresh Fitness, который хотите посещать и впишите свое имя и телефон. Наши менеджеры свяжутся с Вами в ближайшее время.</p>
				<div class="form-line form-line--nomargin">
					<div class="form-col ">
						<input type="radio" name="zal" id="zal1" val="zal1" checked="checked">
						<label for="zal1">ул. Мельникова, 27</label>
					</div>
					<div class="form-col">
						<input type="radio" name="zal" id="zal2" val="zal2">
						<label for="zal2">ул. Бажова, 68</label>
					</div>
				</div>
			</div>
			<div class="order__inn order__inn--grey">
				<div class="order-form">
					<div class="form-line">
						<div class="form-col">
							<input type="text" name="name" placeholder="Ваше имя">
						</div>
						<div class="form-col">
							<input type="text" name="phone" placeholder="Ваш телефон">
						</div>
					</div>
					<div class="form-line">
						<button class="form-send">Отправить</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal modal--fz" id="mobile-menu">
		<div class="mobile-menu-top">
			<div class="header-logo header-logo--mobile">
	            <img src="img/logo.png" alt="">
	        </div>
	        <div class="mobile-menu-close modal__close"></div>
		</div>
		<div class="mobile-menu-list">
			<ul>
				<li><a href="#">Расписание</a></li>
	            <li class="submenu"><i></i><a href="#">Услуги</a>
	            	<ul>
	            		<li><a href="#">Тренажерный зал</a></li>
						<li><a href="#">Центр боевых искусств и кроссфита</a></li>
						<li><a href="#">Групповые программы</a></li>
						<li><a href="#">Водные программы</a></li>
						<li><a href="#">Студия mind body</a></li>
						<li><a href="#">Детский клуб</a></li>
						<li><a href="#">Фитнес-бар</a></li>
						<li><a href="#">SPA -зона и солярий</a></li>
	            	</ul>
	            </li>
	            <li><a href="#">Команда</a></li>
	            <li><a href="#">Мероприятия</a></li>
	            <li><a href="#">Новости</a></li>
	            <li><a href="#">Акции</a></li>
			</ul>
		</div>
		<a href="#card" class="open-modal header-card-mobile">Купить карту</a>
		<div class="mobile-menu-bottom">
			<div class="mobile-menu-submenu">
				<a href="#">О нас</a>
				<a href="#">Вакансии</a>
				<a href="#">Партнерам</a>
	            <a href="#">Отзывы</a>
	            <a href="#">Успехи резидентов</a>
	            <a href="#">Контакты</a>
			</div>
			<div class="mobile-menu-social">
	            <a href="#" class="social-icon social-icon--vk"></a>
	            <a href="#" class="social-icon social-icon--fb"></a>
	            <a href="#" class="social-icon social-icon--inst"></a>
	        </div>
	        <a href="#" class="mobile-menu-sitemap">Карта сайта</a>
		</div>
		
	</div>

	<div class="modal modal--fz" id="mobile-contact">
		<div class="mobile-menu-top">
			<div class="header-logo header-logo--mobile">
	            <img src="img/logo.png" alt="">
	        </div>
	        <div class="mobile-menu-close modal__close"></div>
		</div>
		<div class="mobile-adress">
			<div class="mobile-adress-col">
				<div class="mobile-adress__title">Екатеринбург,<br>ул. Бажова, 68</div>
				<div class="mobile-adress__line"><span>Пн-Пт</span> 7:00 - 23:00,<br><span>Сб-Вс</span> 8:00 - 22:00</div>
				<div class="mobile-adress__line"><span>Т.:</span> +7 (343) 278-84-82</div>
				<div class="mobile-adress__line"><span>@:</span> <a href="#">fresh_fitness@mail.ru</a></div>
     			<a href="#" class="mobile-adress__map">Карта проезда</a>
			</div>
			<div class="mobile-adress-col">
				<div class="mobile-adress__title">Екатеринбург,<br>ул. Мельникова, 27</div>
				<div class="mobile-adress__line"><span>Пн-Пт</span> 7:00 - 23:00,<br><span>Сб-Вс</span> 8:00 - 22:00</div>
				<div class="mobile-adress__line"><span>Т.:</span> +7 (343) 278-84-82</div>
				<div class="mobile-adress__line"><span>@:</span> <a href="#">fresh_fitness@mail.ru</a></div>
     			<a href="#" class="mobile-adress__map">Карта проезда</a>
			</div>
		</div>
		<a href="#order" class="open-modal header-order-mobile">Заказать звонок</a>
	</div>

	<div class="modal" id="calendar-order">
		<form id="order-form" action="" method="post" >
			<div class="order__inn">
				<div class="modal__close order-close"></div>
				<div class="order-title order-title--kid">БВС
					<span>Детский клуб</span>
				</div>
				<div class="order-title order-title--grup">БВС
					<span>Детский клуб</span>
				</div>
				<div class="order-title order-title--water">БВС
					<span>Детский клуб</span>
				</div>
				<p>Общая физическая подготовка, система занятий физическими упражнениями, которая направлена на развитие всех физических качеств (сила, выносливость, скорость, ловкость, гибкость) в их гармоничном сочетании.</p>
				
				<div class="form-line">
					<div class="form-col">
						<div class="calendar-order__top">Занятие проводит</div>
						<div class="calendar-order__text">Маслова Кристина</div>
						<div class="calendar-order__bottom"></div>
					</div>
					<div class="form-col">
						<div class="calendar-order__top">Начало</div>
						<div class="calendar-order__text">10:00</div>
						<div class="calendar-order__bottom">03 октября, вторник</div>
						
					</div>
				</div>
				
				<div class="order-subtitle">
					<div class="order-subtitle-one order-subtitle-one--order">Требуется предварительная запись</div>
				</div>

			</div>
			<div class="order__inn order__inn--grey">
				<div class="order-form">
					<div class="order-descr">Для записи на занятие, пожалуйста заполните форму ниже</div>
					<div class="form-line">
						<div class="form-col">
							<input type="text" name="name" placeholder="Ваше имя">
						</div>
						<div class="form-col">
							<input type="text" name="phone" placeholder="Ваш телефон">
						</div>
					</div>
					<div class="form-line">
						<button class="form-send">Записаться</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal" id="calendar-info">
		<form id="order-form" action="" method="post" >
			<div class="order__inn">
				<div class="modal__close order-close"></div>
				<div class="order-title order-title--kid">Секреты долголетия
					<span>Групповые программы</span>
				</div>
				
				<p>Общая физическая подготовка, система занятий физическими упражнениями, которая направлена на развитие всех физических качеств (сила, выносливость, скорость, ловкость, гибкость) в их гармоничном сочетании.</p>
				
				<div class="form-line">
					<div class="form-col">
						<div class="calendar-order__top">Занятие проводит</div>
						<div class="calendar-order__text">Маслова Кристина</div>
						<div class="calendar-order__bottom"></div>
					</div>
					<div class="form-col">
						<div class="calendar-order__top">Начало</div>
						<div class="calendar-order__text">10:00</div>
						<div class="calendar-order__bottom">03 октября, вторник</div>
						
					</div>
				</div>
				
				<div class="order-subtitle">
					<div class="order-subtitle-one order-subtitle-one--pay">По предоплате</div>
				</div>

			</div>
		</form>
	</div>
</div>