<article class="content">
    <div class="wrap content-inn">
        <h1 class="content__title">Команда</h1>
                
        <div class="breadcrumbs">
            <a class="breadcrumbs__link" href="#">Главная</a> / <span>Команда</span>
        </div>

        <div class="comand">
            <div class="comand-filtr">
                <div class="comand-filtr__title">Клуб</div>
                <div class="calendar-club">
                    <span>
                      ул. Мельникова, 27 <i></i>
                    </span>
                    <div class="calendar-club-list">
                        <label>ул. Мельникова, 27
                          <input type="radio" name="calendarClub" checked="checked" value="club1">
                        </label>
                        <label>ул. Бажова, 68
                          <input type="radio" name="calendarClub" value="club2">
                        </label>
                    </div>
                </div>

                <div class="comand-filtr__title">Категории</div>

                <div class="category-list">
                    <label class="category--all active">вся<br>команда
                        <input type="radio" name="category" value="all">
                    </label>
                    <label class="category--grup">Групповые<br>программы
                        <input type="radio" name="category" value="grup">
                    </label>
                    <label class="category--kids">детский<br>клуб
                        <input type="radio" name="category" value="kids">
                    </label>
                    <label class="category--water">водные<br>программы
                        <input type="radio" name="category" value="water">
                    </label>
                    <label class="category--yoga">Студия<br>йоги
                        <input type="radio" name="category" value="yoga">
                    </label>
                    <label class="category--training">тренажерный<br>зал
                        <input type="radio" name="category" value="training">
                    </label>
                    <label class="category--fight">боевые<br>искусства
                        <input type="radio" name="category" value="fight">
                    </label>
                    <label class="category--fitnes">фитнес-<br>директор
                        <input type="radio" name="category" value="fitnes">
                    </label>
                    <label class="category--coord">координаторы
                        <input type="radio" name="category" value="coord">
                    </label>
                </div>
                <div class="calendar-club calendar-club--mobile">
                    <span class="filtr-icon filtr-icon--all">
                      Вся команда<i></i>
                    </span>
                    <div class="calendar-club-list">
                        <label data-icon="all active">Вся команда
                            <input type="radio" name="category" value="all">
                        </label>
                        <label data-icon="grup">Групповые программы
                            <input type="radio" name="category" value="grup">
                        </label>
                        <label data-icon="kids">Детский клуб
                            <input type="radio" name="category" value="kids">
                        </label>
                        <label data-icon="water">Водные программы
                            <input type="radio" name="category" value="water">
                        </label>
                        <label data-icon="yoga">Студия йоги
                            <input type="radio" name="category" value="yoga">
                        </label>
                        <label data-icon="training">Тренажерный зал
                            <input type="radio" name="category" value="training">
                        </label>
                        <label data-icon="fight">Боевые искусства
                            <input type="radio" name="category" value="fight">
                        </label>
                        <label data-icon="fitnes">Фитнес-директор
                            <input type="radio" name="category" value="fitnes">
                        </label>
                        <label data-icon="coord">Координаторы
                            <input type="radio" name="category" value="coord">
                        </label>
                    </div>
                  </div>
            </div>
            <div class="comand-content">
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
                <a href="#" class="comand-one">
                    <img src="tmp/trener.jpg" alt="">
                    <div class="comand-one-bottom">
                        <div class="comand-one__icon"><img src="tmp/trener-icon.png" alt=""></div>
                        <div class="comand-one__name">Лихачева<br>Юлия</div>
                        <div class="comand-one__position">Координатор</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    
        
</article>