/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@all-a-name: 'all-a';
@all-a-x: 0px;
@all-a-y: 239px;
@all-a-offset-x: 0px;
@all-a-offset-y: -239px;
@all-a-width: 44px;
@all-a-height: 50px;
@all-a-total-width: 401px;
@all-a-total-height: 373px;
@all-a-image: '../img/sprite.png';
@all-a: 0px 239px 0px -239px 44px 50px 401px 373px '../img/sprite.png' 'all-a';
@all-h-name: 'all-h';
@all-h-x: 286px;
@all-h-y: 98px;
@all-h-offset-x: -286px;
@all-h-offset-y: -98px;
@all-h-width: 44px;
@all-h-height: 50px;
@all-h-total-width: 401px;
@all-h-total-height: 373px;
@all-h-image: '../img/sprite.png';
@all-h: 286px 98px -286px -98px 44px 50px 401px 373px '../img/sprite.png' 'all-h';
@all-name: 'all';
@all-x: 286px;
@all-y: 148px;
@all-offset-x: -286px;
@all-offset-y: -148px;
@all-width: 44px;
@all-height: 50px;
@all-total-width: 401px;
@all-total-height: 373px;
@all-image: '../img/sprite.png';
@all: 286px 148px -286px -148px 44px 50px 401px 373px '../img/sprite.png' 'all';
@calendar-arrow-name: 'calendar-arrow';
@calendar-arrow-x: 208px;
@calendar-arrow-y: 56px;
@calendar-arrow-offset-x: -208px;
@calendar-arrow-offset-y: -56px;
@calendar-arrow-width: 17px;
@calendar-arrow-height: 16px;
@calendar-arrow-total-width: 401px;
@calendar-arrow-total-height: 373px;
@calendar-arrow-image: '../img/sprite.png';
@calendar-arrow: 208px 56px -208px -56px 17px 16px 401px 373px '../img/sprite.png' 'calendar-arrow';
@calendar-order-a-name: 'calendar-order-a';
@calendar-order-a-x: 0px;
@calendar-order-a-y: 333px;
@calendar-order-a-offset-x: 0px;
@calendar-order-a-offset-y: -333px;
@calendar-order-a-width: 40px;
@calendar-order-a-height: 40px;
@calendar-order-a-total-width: 401px;
@calendar-order-a-total-height: 373px;
@calendar-order-a-image: '../img/sprite.png';
@calendar-order-a: 0px 333px 0px -333px 40px 40px 401px 373px '../img/sprite.png' 'calendar-order-a';
@calendar-order-name: 'calendar-order';
@calendar-order-x: 286px;
@calendar-order-y: 198px;
@calendar-order-offset-x: -286px;
@calendar-order-offset-y: -198px;
@calendar-order-width: 40px;
@calendar-order-height: 40px;
@calendar-order-total-width: 401px;
@calendar-order-total-height: 373px;
@calendar-order-image: '../img/sprite.png';
@calendar-order: 286px 198px -286px -198px 40px 40px 401px 373px '../img/sprite.png' 'calendar-order';
@calendar-pay-a-name: 'calendar-pay-a';
@calendar-pay-a-x: 120px;
@calendar-pay-a-y: 333px;
@calendar-pay-a-offset-x: -120px;
@calendar-pay-a-offset-y: -333px;
@calendar-pay-a-width: 40px;
@calendar-pay-a-height: 40px;
@calendar-pay-a-total-width: 401px;
@calendar-pay-a-total-height: 373px;
@calendar-pay-a-image: '../img/sprite.png';
@calendar-pay-a: 120px 333px -120px -333px 40px 40px 401px 373px '../img/sprite.png' 'calendar-pay-a';
@calendar-pay-name: 'calendar-pay';
@calendar-pay-x: 160px;
@calendar-pay-y: 333px;
@calendar-pay-offset-x: -160px;
@calendar-pay-offset-y: -333px;
@calendar-pay-width: 40px;
@calendar-pay-height: 40px;
@calendar-pay-total-width: 401px;
@calendar-pay-total-height: 373px;
@calendar-pay-image: '../img/sprite.png';
@calendar-pay: 160px 333px -160px -333px 40px 40px 401px 373px '../img/sprite.png' 'calendar-pay';
@card-name: 'card';
@card-x: 0px;
@card-y: 80px;
@card-offset-x: 0px;
@card-offset-y: -80px;
@card-width: 80px;
@card-height: 56px;
@card-total-width: 401px;
@card-total-height: 373px;
@card-image: '../img/sprite.png';
@card: 0px 80px 0px -80px 80px 56px 401px 373px '../img/sprite.png' 'card';
@close-name: 'close';
@close-x: 40px;
@close-y: 333px;
@close-offset-x: -40px;
@close-offset-y: -333px;
@close-width: 40px;
@close-height: 40px;
@close-total-width: 401px;
@close-total-height: 373px;
@close-image: '../img/sprite.png';
@close: 40px 333px -40px -333px 40px 40px 401px 373px '../img/sprite.png' 'close';
@coord-a-name: 'coord-a';
@coord-a-x: 373px;
@coord-a-y: 0px;
@coord-a-offset-x: -373px;
@coord-a-offset-y: 0px;
@coord-a-width: 28px;
@coord-a-height: 50px;
@coord-a-total-width: 401px;
@coord-a-total-height: 373px;
@coord-a-image: '../img/sprite.png';
@coord-a: 373px 0px -373px 0px 28px 50px 401px 373px '../img/sprite.png' 'coord-a';
@coord-h-name: 'coord-h';
@coord-h-x: 335px;
@coord-h-y: 193px;
@coord-h-offset-x: -335px;
@coord-h-offset-y: -193px;
@coord-h-width: 28px;
@coord-h-height: 50px;
@coord-h-total-width: 401px;
@coord-h-total-height: 373px;
@coord-h-image: '../img/sprite.png';
@coord-h: 335px 193px -335px -193px 28px 50px 401px 373px '../img/sprite.png' 'coord-h';
@coord-name: 'coord';
@coord-x: 335px;
@coord-y: 243px;
@coord-offset-x: -335px;
@coord-offset-y: -243px;
@coord-width: 28px;
@coord-height: 50px;
@coord-total-width: 401px;
@coord-total-height: 373px;
@coord-image: '../img/sprite.png';
@coord: 335px 243px -335px -243px 28px 50px 401px 373px '../img/sprite.png' 'coord';
@days-arrow-name: 'days-arrow';
@days-arrow-x: 373px;
@days-arrow-y: 296px;
@days-arrow-offset-x: -373px;
@days-arrow-offset-y: -296px;
@days-arrow-width: 23px;
@days-arrow-height: 30px;
@days-arrow-total-width: 401px;
@days-arrow-total-height: 373px;
@days-arrow-image: '../img/sprite.png';
@days-arrow: 373px 296px -373px -296px 23px 30px 401px 373px '../img/sprite.png' 'days-arrow';
@edit-t-name: 'edit-t';
@edit-t-x: 60px;
@edit-t-y: 136px;
@edit-t-offset-x: -60px;
@edit-t-offset-y: -136px;
@edit-t-width: 61px;
@edit-t-height: 60px;
@edit-t-total-width: 401px;
@edit-t-total-height: 373px;
@edit-t-image: '../img/sprite.png';
@edit-t: 60px 136px -60px -136px 61px 60px 401px 373px '../img/sprite.png' 'edit-t';
@facebook-h-name: 'facebook-h';
@facebook-h-x: 373px;
@facebook-h-y: 101px;
@facebook-h-offset-x: -373px;
@facebook-h-offset-y: -101px;
@facebook-h-width: 27px;
@facebook-h-height: 51px;
@facebook-h-total-width: 401px;
@facebook-h-total-height: 373px;
@facebook-h-image: '../img/sprite.png';
@facebook-h: 373px 101px -373px -101px 27px 51px 401px 373px '../img/sprite.png' 'facebook-h';
@facebook-name: 'facebook';
@facebook-x: 373px;
@facebook-y: 50px;
@facebook-offset-x: -373px;
@facebook-offset-y: -50px;
@facebook-width: 27px;
@facebook-height: 51px;
@facebook-total-width: 401px;
@facebook-total-height: 373px;
@facebook-image: '../img/sprite.png';
@facebook: 373px 50px -373px -50px 27px 51px 401px 373px '../img/sprite.png' 'facebook';
@fight-name: 'fight';
@fight-x: 373px;
@fight-y: 248px;
@fight-offset-x: -373px;
@fight-offset-y: -248px;
@fight-width: 28px;
@fight-height: 48px;
@fight-total-width: 401px;
@fight-total-height: 373px;
@fight-image: '../img/sprite.png';
@fight: 373px 248px -373px -248px 28px 48px 401px 373px '../img/sprite.png' 'fight';
@fightg-a-name: 'fightg-a';
@fightg-a-x: 373px;
@fightg-a-y: 152px;
@fightg-a-offset-x: -373px;
@fightg-a-offset-y: -152px;
@fightg-a-width: 28px;
@fightg-a-height: 48px;
@fightg-a-total-width: 401px;
@fightg-a-total-height: 373px;
@fightg-a-image: '../img/sprite.png';
@fightg-a: 373px 152px -373px -152px 28px 48px 401px 373px '../img/sprite.png' 'fightg-a';
@fightg-h-name: 'fightg-h';
@fightg-h-x: 373px;
@fightg-h-y: 200px;
@fightg-h-offset-x: -373px;
@fightg-h-offset-y: -200px;
@fightg-h-width: 28px;
@fightg-h-height: 48px;
@fightg-h-total-width: 401px;
@fightg-h-total-height: 373px;
@fightg-h-image: '../img/sprite.png';
@fightg-h: 373px 200px -373px -200px 28px 48px 401px 373px '../img/sprite.png' 'fightg-h';
@fitnes-a-name: 'fitnes-a';
@fitnes-a-x: 88px;
@fitnes-a-y: 289px;
@fitnes-a-offset-x: -88px;
@fitnes-a-offset-y: -289px;
@fitnes-a-width: 44px;
@fitnes-a-height: 44px;
@fitnes-a-total-width: 401px;
@fitnes-a-total-height: 373px;
@fitnes-a-image: '../img/sprite.png';
@fitnes-a: 88px 289px -88px -289px 44px 44px 401px 373px '../img/sprite.png' 'fitnes-a';
@fitnes-h-name: 'fitnes-h';
@fitnes-h-x: 0px;
@fitnes-h-y: 289px;
@fitnes-h-offset-x: 0px;
@fitnes-h-offset-y: -289px;
@fitnes-h-width: 44px;
@fitnes-h-height: 44px;
@fitnes-h-total-width: 401px;
@fitnes-h-total-height: 373px;
@fitnes-h-image: '../img/sprite.png';
@fitnes-h: 0px 289px 0px -289px 44px 44px 401px 373px '../img/sprite.png' 'fitnes-h';
@fitnes-name: 'fitnes';
@fitnes-x: 44px;
@fitnes-y: 289px;
@fitnes-offset-x: -44px;
@fitnes-offset-y: -289px;
@fitnes-width: 44px;
@fitnes-height: 44px;
@fitnes-total-width: 401px;
@fitnes-total-height: 373px;
@fitnes-image: '../img/sprite.png';
@fitnes: 44px 289px -44px -289px 44px 44px 401px 373px '../img/sprite.png' 'fitnes';
@grup-a-name: 'grup-a';
@grup-a-x: 60px;
@grup-a-y: 197px;
@grup-a-offset-x: -60px;
@grup-a-offset-y: -197px;
@grup-a-width: 60px;
@grup-a-height: 42px;
@grup-a-total-width: 401px;
@grup-a-total-height: 373px;
@grup-a-image: '../img/sprite.png';
@grup-a: 60px 197px -60px -197px 60px 42px 401px 373px '../img/sprite.png' 'grup-a';
@grup-h-name: 'grup-h';
@grup-h-x: 0px;
@grup-h-y: 197px;
@grup-h-offset-x: 0px;
@grup-h-offset-y: -197px;
@grup-h-width: 60px;
@grup-h-height: 42px;
@grup-h-total-width: 401px;
@grup-h-total-height: 373px;
@grup-h-image: '../img/sprite.png';
@grup-h: 0px 197px 0px -197px 60px 42px 401px 373px '../img/sprite.png' 'grup-h';
@grup-t-name: 'grup-t';
@grup-t-x: 154px;
@grup-t-y: 0px;
@grup-t-offset-x: -154px;
@grup-t-offset-y: 0px;
@grup-t-width: 80px;
@grup-t-height: 56px;
@grup-t-total-width: 401px;
@grup-t-total-height: 373px;
@grup-t-image: '../img/sprite.png';
@grup-t: 154px 0px -154px 0px 80px 56px 401px 373px '../img/sprite.png' 'grup-t';
@grup-name: 'grup';
@grup-x: 120px;
@grup-y: 197px;
@grup-offset-x: -120px;
@grup-offset-y: -197px;
@grup-width: 60px;
@grup-height: 42px;
@grup-total-width: 401px;
@grup-total-height: 373px;
@grup-image: '../img/sprite.png';
@grup: 120px 197px -120px -197px 60px 42px 401px 373px '../img/sprite.png' 'grup';
@instagram-h-name: 'instagram-h';
@instagram-h-x: 286px;
@instagram-h-y: 49px;
@instagram-h-offset-x: -286px;
@instagram-h-offset-y: -49px;
@instagram-h-width: 49px;
@instagram-h-height: 49px;
@instagram-h-total-width: 401px;
@instagram-h-total-height: 373px;
@instagram-h-image: '../img/sprite.png';
@instagram-h: 286px 49px -286px -49px 49px 49px 401px 373px '../img/sprite.png' 'instagram-h';
@instagram-name: 'instagram';
@instagram-x: 286px;
@instagram-y: 0px;
@instagram-offset-x: -286px;
@instagram-offset-y: 0px;
@instagram-width: 49px;
@instagram-height: 49px;
@instagram-total-width: 401px;
@instagram-total-height: 373px;
@instagram-image: '../img/sprite.png';
@instagram: 286px 0px -286px 0px 49px 49px 401px 373px '../img/sprite.png' 'instagram';
@kids-a-name: 'kids-a';
@kids-a-x: 136px;
@kids-a-y: 239px;
@kids-a-offset-x: -136px;
@kids-a-offset-y: -239px;
@kids-a-width: 48px;
@kids-a-height: 42px;
@kids-a-total-width: 401px;
@kids-a-total-height: 373px;
@kids-a-image: '../img/sprite.png';
@kids-a: 136px 239px -136px -239px 48px 42px 401px 373px '../img/sprite.png' 'kids-a';
@kids-h-name: 'kids-h';
@kids-h-x: 180px;
@kids-h-y: 197px;
@kids-h-offset-x: -180px;
@kids-h-offset-y: -197px;
@kids-h-width: 48px;
@kids-h-height: 42px;
@kids-h-total-width: 401px;
@kids-h-total-height: 373px;
@kids-h-image: '../img/sprite.png';
@kids-h: 180px 197px -180px -197px 48px 42px 401px 373px '../img/sprite.png' 'kids-h';
@kids-t-name: 'kids-t';
@kids-t-x: 80px;
@kids-t-y: 0px;
@kids-t-offset-x: -80px;
@kids-t-offset-y: 0px;
@kids-t-width: 74px;
@kids-t-height: 64px;
@kids-t-total-width: 401px;
@kids-t-total-height: 373px;
@kids-t-image: '../img/sprite.png';
@kids-t: 80px 0px -80px 0px 74px 64px 401px 373px '../img/sprite.png' 'kids-t';
@kids-name: 'kids';
@kids-x: 228px;
@kids-y: 197px;
@kids-offset-x: -228px;
@kids-offset-y: -197px;
@kids-width: 48px;
@kids-height: 42px;
@kids-total-width: 401px;
@kids-total-height: 373px;
@kids-image: '../img/sprite.png';
@kids: 228px 197px -228px -197px 48px 42px 401px 373px '../img/sprite.png' 'kids';
@menu-arrow-name: 'menu-arrow';
@menu-arrow-x: 373px;
@menu-arrow-y: 346px;
@menu-arrow-offset-x: -373px;
@menu-arrow-offset-y: -346px;
@menu-arrow-width: 20px;
@menu-arrow-height: 18px;
@menu-arrow-total-width: 401px;
@menu-arrow-total-height: 373px;
@menu-arrow-image: '../img/sprite.png';
@menu-arrow: 373px 346px -373px -346px 20px 18px 401px 373px '../img/sprite.png' 'menu-arrow';
@menu-close-name: 'menu-close';
@menu-close-x: 80px;
@menu-close-y: 333px;
@menu-close-offset-x: -80px;
@menu-close-offset-y: -333px;
@menu-close-width: 40px;
@menu-close-height: 40px;
@menu-close-total-width: 401px;
@menu-close-total-height: 373px;
@menu-close-image: '../img/sprite.png';
@menu-close: 80px 333px -80px -333px 40px 40px 401px 373px '../img/sprite.png' 'menu-close';
@menu-more-name: 'menu-more';
@menu-more-x: 208px;
@menu-more-y: 72px;
@menu-more-offset-x: -208px;
@menu-more-offset-y: -72px;
@menu-more-width: 16px;
@menu-more-height: 16px;
@menu-more-total-width: 401px;
@menu-more-total-height: 373px;
@menu-more-image: '../img/sprite.png';
@menu-more: 208px 72px -208px -72px 16px 16px 401px 373px '../img/sprite.png' 'menu-more';
@menu-name: 'menu';
@menu-x: 234px;
@menu-y: 104px;
@menu-offset-x: -234px;
@menu-offset-y: -104px;
@menu-width: 52px;
@menu-height: 48px;
@menu-total-width: 401px;
@menu-total-height: 373px;
@menu-image: '../img/sprite.png';
@menu: 234px 104px -234px -104px 52px 48px 401px 373px '../img/sprite.png' 'menu';
@mf-arrow-name: 'mf-arrow';
@mf-arrow-x: 0px;
@mf-arrow-y: 0px;
@mf-arrow-offset-x: 0px;
@mf-arrow-offset-y: 0px;
@mf-arrow-width: 80px;
@mf-arrow-height: 80px;
@mf-arrow-total-width: 401px;
@mf-arrow-total-height: 373px;
@mf-arrow-image: '../img/sprite.png';
@mf-arrow: 0px 0px 0px 0px 80px 80px 401px 373px '../img/sprite.png' 'mf-arrow';
@mf-close-name: 'mf-close';
@mf-close-x: 373px;
@mf-close-y: 326px;
@mf-close-offset-x: -373px;
@mf-close-offset-y: -326px;
@mf-close-width: 20px;
@mf-close-height: 20px;
@mf-close-total-width: 401px;
@mf-close-total-height: 373px;
@mf-close-image: '../img/sprite.png';
@mf-close: 373px 326px -373px -326px 20px 20px 401px 373px '../img/sprite.png' 'mf-close';
@pay-t-name: 'pay-t';
@pay-t-x: 0px;
@pay-t-y: 136px;
@pay-t-offset-x: 0px;
@pay-t-offset-y: -136px;
@pay-t-width: 60px;
@pay-t-height: 61px;
@pay-t-total-width: 401px;
@pay-t-total-height: 373px;
@pay-t-image: '../img/sprite.png';
@pay-t: 0px 136px 0px -136px 60px 61px 401px 373px '../img/sprite.png' 'pay-t';
@phone-name: 'phone';
@phone-x: 335px;
@phone-y: 293px;
@phone-offset-x: -335px;
@phone-offset-y: -293px;
@phone-width: 31px;
@phone-height: 34px;
@phone-total-width: 401px;
@phone-total-height: 373px;
@phone-image: '../img/sprite.png';
@phone: 335px 293px -335px -293px 31px 34px 401px 373px '../img/sprite.png' 'phone';
@place-head-name: 'place-head';
@place-head-x: 154px;
@place-head-y: 56px;
@place-head-offset-x: -154px;
@place-head-offset-y: -56px;
@place-head-width: 54px;
@place-head-height: 71px;
@place-head-total-width: 401px;
@place-head-total-height: 373px;
@place-head-image: '../img/sprite.png';
@place-head: 154px 56px -154px -56px 54px 71px 401px 373px '../img/sprite.png' 'place-head';
@place-name: 'place';
@place-x: 335px;
@place-y: 144px;
@place-offset-x: -335px;
@place-offset-y: -144px;
@place-width: 37px;
@place-height: 49px;
@place-total-width: 401px;
@place-total-height: 373px;
@place-image: '../img/sprite.png';
@place: 335px 144px -335px -144px 37px 49px 401px 373px '../img/sprite.png' 'place';
@sm-name: 'sm';
@sm-x: 208px;
@sm-y: 88px;
@sm-offset-x: -208px;
@sm-offset-y: -88px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 401px;
@sm-total-height: 373px;
@sm-image: '../img/sprite.png';
@sm: 208px 88px -208px -88px 16px 16px 401px 373px '../img/sprite.png' 'sm';
@tel-name: 'tel';
@tel-x: 121px;
@tel-y: 136px;
@tel-offset-x: -121px;
@tel-offset-y: -136px;
@tel-width: 56px;
@tel-height: 60px;
@tel-total-width: 401px;
@tel-total-height: 373px;
@tel-image: '../img/sprite.png';
@tel: 121px 136px -121px -136px 56px 60px 401px 373px '../img/sprite.png' 'tel';
@time-a-name: 'time-a';
@time-a-x: 234px;
@time-a-y: 52px;
@time-a-offset-x: -234px;
@time-a-offset-y: -52px;
@time-a-width: 52px;
@time-a-height: 52px;
@time-a-total-width: 401px;
@time-a-total-height: 373px;
@time-a-image: '../img/sprite.png';
@time-a: 234px 52px -234px -52px 52px 52px 401px 373px '../img/sprite.png' 'time-a';
@time-h-name: 'time-h';
@time-h-x: 234px;
@time-h-y: 0px;
@time-h-offset-x: -234px;
@time-h-offset-y: 0px;
@time-h-width: 52px;
@time-h-height: 52px;
@time-h-total-width: 401px;
@time-h-total-height: 373px;
@time-h-image: '../img/sprite.png';
@time-h: 234px 0px -234px 0px 52px 52px 401px 373px '../img/sprite.png' 'time-h';
@time-name: 'time';
@time-x: 177px;
@time-y: 136px;
@time-offset-x: -177px;
@time-offset-y: -136px;
@time-width: 52px;
@time-height: 52px;
@time-total-width: 401px;
@time-total-height: 373px;
@time-image: '../img/sprite.png';
@time: 177px 136px -177px -136px 52px 52px 401px 373px '../img/sprite.png' 'time';
@training-a-name: 'training-a';
@training-a-x: 335px;
@training-a-y: 96px;
@training-a-offset-x: -335px;
@training-a-offset-y: -96px;
@training-a-width: 38px;
@training-a-height: 48px;
@training-a-total-width: 401px;
@training-a-total-height: 373px;
@training-a-image: '../img/sprite.png';
@training-a: 335px 96px -335px -96px 38px 48px 401px 373px '../img/sprite.png' 'training-a';
@training-h-name: 'training-h';
@training-h-x: 335px;
@training-h-y: 48px;
@training-h-offset-x: -335px;
@training-h-offset-y: -48px;
@training-h-width: 38px;
@training-h-height: 48px;
@training-h-total-width: 401px;
@training-h-total-height: 373px;
@training-h-image: '../img/sprite.png';
@training-h: 335px 48px -335px -48px 38px 48px 401px 373px '../img/sprite.png' 'training-h';
@training-name: 'training';
@training-x: 335px;
@training-y: 0px;
@training-offset-x: -335px;
@training-offset-y: 0px;
@training-width: 38px;
@training-height: 48px;
@training-total-width: 401px;
@training-total-height: 373px;
@training-image: '../img/sprite.png';
@training: 335px 0px -335px 0px 38px 48px 401px 373px '../img/sprite.png' 'training';
@vk-h-name: 'vk-h';
@vk-h-x: 238px;
@vk-h-y: 289px;
@vk-h-offset-x: -238px;
@vk-h-offset-y: -289px;
@vk-h-width: 54px;
@vk-h-height: 30px;
@vk-h-total-width: 401px;
@vk-h-total-height: 373px;
@vk-h-image: '../img/sprite.png';
@vk-h: 238px 289px -238px -289px 54px 30px 401px 373px '../img/sprite.png' 'vk-h';
@vk-name: 'vk';
@vk-x: 184px;
@vk-y: 289px;
@vk-offset-x: -184px;
@vk-offset-y: -289px;
@vk-width: 54px;
@vk-height: 30px;
@vk-total-width: 401px;
@vk-total-height: 373px;
@vk-image: '../img/sprite.png';
@vk: 184px 289px -184px -289px 54px 30px 401px 373px '../img/sprite.png' 'vk';
@water-a-name: 'water-a';
@water-a-x: 132px;
@water-a-y: 289px;
@water-a-offset-x: -132px;
@water-a-offset-y: -289px;
@water-a-width: 52px;
@water-a-height: 32px;
@water-a-total-width: 401px;
@water-a-total-height: 373px;
@water-a-image: '../img/sprite.png';
@water-a: 132px 289px -132px -289px 52px 32px 401px 373px '../img/sprite.png' 'water-a';
@water-h-name: 'water-h';
@water-h-x: 236px;
@water-h-y: 239px;
@water-h-offset-x: -236px;
@water-h-offset-y: -239px;
@water-h-width: 52px;
@water-h-height: 32px;
@water-h-total-width: 401px;
@water-h-total-height: 373px;
@water-h-image: '../img/sprite.png';
@water-h: 236px 239px -236px -239px 52px 32px 401px 373px '../img/sprite.png' 'water-h';
@water-t-name: 'water-t';
@water-t-x: 80px;
@water-t-y: 80px;
@water-t-offset-x: -80px;
@water-t-offset-y: -80px;
@water-t-width: 73px;
@water-t-height: 45px;
@water-t-total-width: 401px;
@water-t-total-height: 373px;
@water-t-image: '../img/sprite.png';
@water-t: 80px 80px -80px -80px 73px 45px 401px 373px '../img/sprite.png' 'water-t';
@water-name: 'water';
@water-x: 184px;
@water-y: 239px;
@water-offset-x: -184px;
@water-offset-y: -239px;
@water-width: 52px;
@water-height: 32px;
@water-total-width: 401px;
@water-total-height: 373px;
@water-image: '../img/sprite.png';
@water: 184px 239px -184px -239px 52px 32px 401px 373px '../img/sprite.png' 'water';
@yoga-a-name: 'yoga-a';
@yoga-a-x: 44px;
@yoga-a-y: 239px;
@yoga-a-offset-x: -44px;
@yoga-a-offset-y: -239px;
@yoga-a-width: 46px;
@yoga-a-height: 44px;
@yoga-a-total-width: 401px;
@yoga-a-total-height: 373px;
@yoga-a-image: '../img/sprite.png';
@yoga-a: 44px 239px -44px -239px 46px 44px 401px 373px '../img/sprite.png' 'yoga-a';
@yoga-h-name: 'yoga-h';
@yoga-h-x: 234px;
@yoga-h-y: 152px;
@yoga-h-offset-x: -234px;
@yoga-h-offset-y: -152px;
@yoga-h-width: 46px;
@yoga-h-height: 44px;
@yoga-h-total-width: 401px;
@yoga-h-total-height: 373px;
@yoga-h-image: '../img/sprite.png';
@yoga-h: 234px 152px -234px -152px 46px 44px 401px 373px '../img/sprite.png' 'yoga-h';
@yoga-name: 'yoga';
@yoga-x: 90px;
@yoga-y: 239px;
@yoga-offset-x: -90px;
@yoga-offset-y: -239px;
@yoga-width: 46px;
@yoga-height: 44px;
@yoga-total-width: 401px;
@yoga-total-height: 373px;
@yoga-image: '../img/sprite.png';
@yoga: 90px 239px -90px -239px 46px 44px 401px 373px '../img/sprite.png' 'yoga';
@spritesheet-width: 401px;
@spritesheet-height: 373px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @all-a @all-h @all @calendar-arrow @calendar-order-a @calendar-order @calendar-pay-a @calendar-pay @card @close @coord-a @coord-h @coord @days-arrow @edit-t @facebook-h @facebook @fight @fightg-a @fightg-h @fitnes-a @fitnes-h @fitnes @grup-a @grup-h @grup-t @grup @instagram-h @instagram @kids-a @kids-h @kids-t @kids @menu-arrow @menu-close @menu-more @menu @mf-arrow @mf-close @pay-t @phone @place-head @place @sm @tel @time-a @time-h @time @training-a @training-h @training @vk-h @vk @water-a @water-h @water-t @water @yoga-a @yoga-h @yoga;
@spritesheet: 401px 373px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
