/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@calendar-arrow-name: 'calendar-arrow';
@calendar-arrow-x: 317px;
@calendar-arrow-y: 150px;
@calendar-arrow-offset-x: -317px;
@calendar-arrow-offset-y: -150px;
@calendar-arrow-width: 17px;
@calendar-arrow-height: 16px;
@calendar-arrow-total-width: 344px;
@calendar-arrow-total-height: 294px;
@calendar-arrow-image: '../img/sprite.png';
@calendar-arrow: 317px 150px -317px -150px 17px 16px 344px 294px '../img/sprite.png' 'calendar-arrow';
@calendar-order-a-name: 'calendar-order-a';
@calendar-order-a-x: 0px;
@calendar-order-a-y: 254px;
@calendar-order-a-offset-x: 0px;
@calendar-order-a-offset-y: -254px;
@calendar-order-a-width: 40px;
@calendar-order-a-height: 40px;
@calendar-order-a-total-width: 344px;
@calendar-order-a-total-height: 294px;
@calendar-order-a-image: '../img/sprite.png';
@calendar-order-a: 0px 254px 0px -254px 40px 40px 344px 294px '../img/sprite.png' 'calendar-order-a';
@calendar-order-name: 'calendar-order';
@calendar-order-x: 40px;
@calendar-order-y: 254px;
@calendar-order-offset-x: -40px;
@calendar-order-offset-y: -254px;
@calendar-order-width: 40px;
@calendar-order-height: 40px;
@calendar-order-total-width: 344px;
@calendar-order-total-height: 294px;
@calendar-order-image: '../img/sprite.png';
@calendar-order: 40px 254px -40px -254px 40px 40px 344px 294px '../img/sprite.png' 'calendar-order';
@calendar-pay-a-name: 'calendar-pay-a';
@calendar-pay-a-x: 268px;
@calendar-pay-a-y: 182px;
@calendar-pay-a-offset-x: -268px;
@calendar-pay-a-offset-y: -182px;
@calendar-pay-a-width: 40px;
@calendar-pay-a-height: 40px;
@calendar-pay-a-total-width: 344px;
@calendar-pay-a-total-height: 294px;
@calendar-pay-a-image: '../img/sprite.png';
@calendar-pay-a: 268px 182px -268px -182px 40px 40px 344px 294px '../img/sprite.png' 'calendar-pay-a';
@calendar-pay-name: 'calendar-pay';
@calendar-pay-x: 228px;
@calendar-pay-y: 180px;
@calendar-pay-offset-x: -228px;
@calendar-pay-offset-y: -180px;
@calendar-pay-width: 40px;
@calendar-pay-height: 40px;
@calendar-pay-total-width: 344px;
@calendar-pay-total-height: 294px;
@calendar-pay-image: '../img/sprite.png';
@calendar-pay: 228px 180px -228px -180px 40px 40px 344px 294px '../img/sprite.png' 'calendar-pay';
@card-name: 'card';
@card-x: 0px;
@card-y: 64px;
@card-offset-x: 0px;
@card-offset-y: -64px;
@card-width: 80px;
@card-height: 56px;
@card-total-width: 344px;
@card-total-height: 294px;
@card-image: '../img/sprite.png';
@card: 0px 64px 0px -64px 80px 56px 344px 294px '../img/sprite.png' 'card';
@close-name: 'close';
@close-x: 120px;
@close-y: 254px;
@close-offset-x: -120px;
@close-offset-y: -254px;
@close-width: 40px;
@close-height: 40px;
@close-total-width: 344px;
@close-total-height: 294px;
@close-image: '../img/sprite.png';
@close: 120px 254px -120px -254px 40px 40px 344px 294px '../img/sprite.png' 'close';
@days-arrow-name: 'days-arrow';
@days-arrow-x: 317px;
@days-arrow-y: 102px;
@days-arrow-offset-x: -317px;
@days-arrow-offset-y: -102px;
@days-arrow-width: 23px;
@days-arrow-height: 30px;
@days-arrow-total-width: 344px;
@days-arrow-total-height: 294px;
@days-arrow-image: '../img/sprite.png';
@days-arrow: 317px 102px -317px -102px 23px 30px 344px 294px '../img/sprite.png' 'days-arrow';
@edit-t-name: 'edit-t';
@edit-t-x: 0px;
@edit-t-y: 120px;
@edit-t-offset-x: 0px;
@edit-t-offset-y: -120px;
@edit-t-width: 61px;
@edit-t-height: 60px;
@edit-t-total-width: 344px;
@edit-t-total-height: 294px;
@edit-t-image: '../img/sprite.png';
@edit-t: 0px 120px 0px -120px 61px 60px 344px 294px '../img/sprite.png' 'edit-t';
@facebook-h-name: 'facebook-h';
@facebook-h-x: 317px;
@facebook-h-y: 0px;
@facebook-h-offset-x: -317px;
@facebook-h-offset-y: 0px;
@facebook-h-width: 27px;
@facebook-h-height: 51px;
@facebook-h-total-width: 344px;
@facebook-h-total-height: 294px;
@facebook-h-image: '../img/sprite.png';
@facebook-h: 317px 0px -317px 0px 27px 51px 344px 294px '../img/sprite.png' 'facebook-h';
@facebook-name: 'facebook';
@facebook-x: 317px;
@facebook-y: 51px;
@facebook-offset-x: -317px;
@facebook-offset-y: -51px;
@facebook-width: 27px;
@facebook-height: 51px;
@facebook-total-width: 344px;
@facebook-total-height: 294px;
@facebook-image: '../img/sprite.png';
@facebook: 317px 51px -317px -51px 27px 51px 344px 294px '../img/sprite.png' 'facebook';
@grup-a-name: 'grup-a';
@grup-a-x: 0px;
@grup-a-y: 180px;
@grup-a-offset-x: 0px;
@grup-a-offset-y: -180px;
@grup-a-width: 60px;
@grup-a-height: 42px;
@grup-a-total-width: 344px;
@grup-a-total-height: 294px;
@grup-a-image: '../img/sprite.png';
@grup-a: 0px 180px 0px -180px 60px 42px 344px 294px '../img/sprite.png' 'grup-a';
@grup-h-name: 'grup-h';
@grup-h-x: 120px;
@grup-h-y: 180px;
@grup-h-offset-x: -120px;
@grup-h-offset-y: -180px;
@grup-h-width: 60px;
@grup-h-height: 42px;
@grup-h-total-width: 344px;
@grup-h-total-height: 294px;
@grup-h-image: '../img/sprite.png';
@grup-h: 120px 180px -120px -180px 60px 42px 344px 294px '../img/sprite.png' 'grup-h';
@grup-t-name: 'grup-t';
@grup-t-x: 74px;
@grup-t-y: 0px;
@grup-t-offset-x: -74px;
@grup-t-offset-y: 0px;
@grup-t-width: 80px;
@grup-t-height: 56px;
@grup-t-total-width: 344px;
@grup-t-total-height: 294px;
@grup-t-image: '../img/sprite.png';
@grup-t: 74px 0px -74px 0px 80px 56px 344px 294px '../img/sprite.png' 'grup-t';
@grup-name: 'grup';
@grup-x: 60px;
@grup-y: 180px;
@grup-offset-x: -60px;
@grup-offset-y: -180px;
@grup-width: 60px;
@grup-height: 42px;
@grup-total-width: 344px;
@grup-total-height: 294px;
@grup-image: '../img/sprite.png';
@grup: 60px 180px -60px -180px 60px 42px 344px 294px '../img/sprite.png' 'grup';
@instagram-h-name: 'instagram-h';
@instagram-h-x: 268px;
@instagram-h-y: 49px;
@instagram-h-offset-x: -268px;
@instagram-h-offset-y: -49px;
@instagram-h-width: 49px;
@instagram-h-height: 49px;
@instagram-h-total-width: 344px;
@instagram-h-total-height: 294px;
@instagram-h-image: '../img/sprite.png';
@instagram-h: 268px 49px -268px -49px 49px 49px 344px 294px '../img/sprite.png' 'instagram-h';
@instagram-name: 'instagram';
@instagram-x: 268px;
@instagram-y: 0px;
@instagram-offset-x: -268px;
@instagram-offset-y: 0px;
@instagram-width: 49px;
@instagram-height: 49px;
@instagram-total-width: 344px;
@instagram-total-height: 294px;
@instagram-image: '../img/sprite.png';
@instagram: 268px 0px -268px 0px 49px 49px 344px 294px '../img/sprite.png' 'instagram';
@kids-a-name: 'kids-a';
@kids-a-x: 268px;
@kids-a-y: 140px;
@kids-a-offset-x: -268px;
@kids-a-offset-y: -140px;
@kids-a-width: 48px;
@kids-a-height: 42px;
@kids-a-total-width: 344px;
@kids-a-total-height: 294px;
@kids-a-image: '../img/sprite.png';
@kids-a: 268px 140px -268px -140px 48px 42px 344px 294px '../img/sprite.png' 'kids-a';
@kids-h-name: 'kids-h';
@kids-h-x: 268px;
@kids-h-y: 98px;
@kids-h-offset-x: -268px;
@kids-h-offset-y: -98px;
@kids-h-width: 48px;
@kids-h-height: 42px;
@kids-h-total-width: 344px;
@kids-h-total-height: 294px;
@kids-h-image: '../img/sprite.png';
@kids-h: 268px 98px -268px -98px 48px 42px 344px 294px '../img/sprite.png' 'kids-h';
@kids-t-name: 'kids-t';
@kids-t-x: 0px;
@kids-t-y: 0px;
@kids-t-offset-x: 0px;
@kids-t-offset-y: 0px;
@kids-t-width: 74px;
@kids-t-height: 64px;
@kids-t-total-width: 344px;
@kids-t-total-height: 294px;
@kids-t-image: '../img/sprite.png';
@kids-t: 0px 0px 0px 0px 74px 64px 344px 294px '../img/sprite.png' 'kids-t';
@kids-name: 'kids';
@kids-x: 180px;
@kids-y: 180px;
@kids-offset-x: -180px;
@kids-offset-y: -180px;
@kids-width: 48px;
@kids-height: 42px;
@kids-total-width: 344px;
@kids-total-height: 294px;
@kids-image: '../img/sprite.png';
@kids: 180px 180px -180px -180px 48px 42px 344px 294px '../img/sprite.png' 'kids';
@menu-arrow-name: 'menu-arrow';
@menu-arrow-x: 317px;
@menu-arrow-y: 132px;
@menu-arrow-offset-x: -317px;
@menu-arrow-offset-y: -132px;
@menu-arrow-width: 20px;
@menu-arrow-height: 18px;
@menu-arrow-total-width: 344px;
@menu-arrow-total-height: 294px;
@menu-arrow-image: '../img/sprite.png';
@menu-arrow: 317px 132px -317px -132px 20px 18px 344px 294px '../img/sprite.png' 'menu-arrow';
@menu-close-name: 'menu-close';
@menu-close-x: 80px;
@menu-close-y: 254px;
@menu-close-offset-x: -80px;
@menu-close-offset-y: -254px;
@menu-close-width: 40px;
@menu-close-height: 40px;
@menu-close-total-width: 344px;
@menu-close-total-height: 294px;
@menu-close-image: '../img/sprite.png';
@menu-close: 80px 254px -80px -254px 40px 40px 344px 294px '../img/sprite.png' 'menu-close';
@menu-more-name: 'menu-more';
@menu-more-x: 317px;
@menu-more-y: 182px;
@menu-more-offset-x: -317px;
@menu-more-offset-y: -182px;
@menu-more-width: 16px;
@menu-more-height: 16px;
@menu-more-total-width: 344px;
@menu-more-total-height: 294px;
@menu-more-image: '../img/sprite.png';
@menu-more: 317px 182px -317px -182px 16px 16px 344px 294px '../img/sprite.png' 'menu-more';
@menu-name: 'menu';
@menu-x: 154px;
@menu-y: 71px;
@menu-offset-x: -154px;
@menu-offset-y: -71px;
@menu-width: 52px;
@menu-height: 48px;
@menu-total-width: 344px;
@menu-total-height: 294px;
@menu-image: '../img/sprite.png';
@menu: 154px 71px -154px -71px 52px 48px 344px 294px '../img/sprite.png' 'menu';
@pay-t-name: 'pay-t';
@pay-t-x: 208px;
@pay-t-y: 0px;
@pay-t-offset-x: -208px;
@pay-t-offset-y: 0px;
@pay-t-width: 60px;
@pay-t-height: 61px;
@pay-t-total-width: 344px;
@pay-t-total-height: 294px;
@pay-t-image: '../img/sprite.png';
@pay-t: 208px 0px -208px 0px 60px 61px 344px 294px '../img/sprite.png' 'pay-t';
@phone-name: 'phone';
@phone-x: 160px;
@phone-y: 254px;
@phone-offset-x: -160px;
@phone-offset-y: -254px;
@phone-width: 31px;
@phone-height: 34px;
@phone-total-width: 344px;
@phone-total-height: 294px;
@phone-image: '../img/sprite.png';
@phone: 160px 254px -160px -254px 31px 34px 344px 294px '../img/sprite.png' 'phone';
@place-head-name: 'place-head';
@place-head-x: 154px;
@place-head-y: 0px;
@place-head-offset-x: -154px;
@place-head-offset-y: 0px;
@place-head-width: 54px;
@place-head-height: 71px;
@place-head-total-width: 344px;
@place-head-total-height: 294px;
@place-head-image: '../img/sprite.png';
@place-head: 154px 0px -154px 0px 54px 71px 344px 294px '../img/sprite.png' 'place-head';
@place-name: 'place';
@place-x: 165px;
@place-y: 120px;
@place-offset-x: -165px;
@place-offset-y: -120px;
@place-width: 37px;
@place-height: 49px;
@place-total-width: 344px;
@place-total-height: 294px;
@place-image: '../img/sprite.png';
@place: 165px 120px -165px -120px 37px 49px 344px 294px '../img/sprite.png' 'place';
@sm-name: 'sm';
@sm-x: 317px;
@sm-y: 166px;
@sm-offset-x: -317px;
@sm-offset-y: -166px;
@sm-width: 16px;
@sm-height: 16px;
@sm-total-width: 344px;
@sm-total-height: 294px;
@sm-image: '../img/sprite.png';
@sm: 317px 166px -317px -166px 16px 16px 344px 294px '../img/sprite.png' 'sm';
@tel-name: 'tel';
@tel-x: 208px;
@tel-y: 61px;
@tel-offset-x: -208px;
@tel-offset-y: -61px;
@tel-width: 56px;
@tel-height: 60px;
@tel-total-width: 344px;
@tel-total-height: 294px;
@tel-image: '../img/sprite.png';
@tel: 208px 61px -208px -61px 56px 60px 344px 294px '../img/sprite.png' 'tel';
@time-a-name: 'time-a';
@time-a-x: 61px;
@time-a-y: 120px;
@time-a-offset-x: -61px;
@time-a-offset-y: -120px;
@time-a-width: 52px;
@time-a-height: 52px;
@time-a-total-width: 344px;
@time-a-total-height: 294px;
@time-a-image: '../img/sprite.png';
@time-a: 61px 120px -61px -120px 52px 52px 344px 294px '../img/sprite.png' 'time-a';
@time-h-name: 'time-h';
@time-h-x: 208px;
@time-h-y: 121px;
@time-h-offset-x: -208px;
@time-h-offset-y: -121px;
@time-h-width: 52px;
@time-h-height: 52px;
@time-h-total-width: 344px;
@time-h-total-height: 294px;
@time-h-image: '../img/sprite.png';
@time-h: 208px 121px -208px -121px 52px 52px 344px 294px '../img/sprite.png' 'time-h';
@time-name: 'time';
@time-x: 113px;
@time-y: 120px;
@time-offset-x: -113px;
@time-offset-y: -120px;
@time-width: 52px;
@time-height: 52px;
@time-total-width: 344px;
@time-total-height: 294px;
@time-image: '../img/sprite.png';
@time: 113px 120px -113px -120px 52px 52px 344px 294px '../img/sprite.png' 'time';
@vk-h-name: 'vk-h';
@vk-h-x: 210px;
@vk-h-y: 222px;
@vk-h-offset-x: -210px;
@vk-h-offset-y: -222px;
@vk-h-width: 54px;
@vk-h-height: 30px;
@vk-h-total-width: 344px;
@vk-h-total-height: 294px;
@vk-h-image: '../img/sprite.png';
@vk-h: 210px 222px -210px -222px 54px 30px 344px 294px '../img/sprite.png' 'vk-h';
@vk-name: 'vk';
@vk-x: 156px;
@vk-y: 222px;
@vk-offset-x: -156px;
@vk-offset-y: -222px;
@vk-width: 54px;
@vk-height: 30px;
@vk-total-width: 344px;
@vk-total-height: 294px;
@vk-image: '../img/sprite.png';
@vk: 156px 222px -156px -222px 54px 30px 344px 294px '../img/sprite.png' 'vk';
@water-a-name: 'water-a';
@water-a-x: 52px;
@water-a-y: 222px;
@water-a-offset-x: -52px;
@water-a-offset-y: -222px;
@water-a-width: 52px;
@water-a-height: 32px;
@water-a-total-width: 344px;
@water-a-total-height: 294px;
@water-a-image: '../img/sprite.png';
@water-a: 52px 222px -52px -222px 52px 32px 344px 294px '../img/sprite.png' 'water-a';
@water-h-name: 'water-h';
@water-h-x: 0px;
@water-h-y: 222px;
@water-h-offset-x: 0px;
@water-h-offset-y: -222px;
@water-h-width: 52px;
@water-h-height: 32px;
@water-h-total-width: 344px;
@water-h-total-height: 294px;
@water-h-image: '../img/sprite.png';
@water-h: 0px 222px 0px -222px 52px 32px 344px 294px '../img/sprite.png' 'water-h';
@water-t-name: 'water-t';
@water-t-x: 80px;
@water-t-y: 64px;
@water-t-offset-x: -80px;
@water-t-offset-y: -64px;
@water-t-width: 73px;
@water-t-height: 45px;
@water-t-total-width: 344px;
@water-t-total-height: 294px;
@water-t-image: '../img/sprite.png';
@water-t: 80px 64px -80px -64px 73px 45px 344px 294px '../img/sprite.png' 'water-t';
@water-name: 'water';
@water-x: 104px;
@water-y: 222px;
@water-offset-x: -104px;
@water-offset-y: -222px;
@water-width: 52px;
@water-height: 32px;
@water-total-width: 344px;
@water-total-height: 294px;
@water-image: '../img/sprite.png';
@water: 104px 222px -104px -222px 52px 32px 344px 294px '../img/sprite.png' 'water';
@spritesheet-width: 344px;
@spritesheet-height: 294px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @calendar-arrow @calendar-order-a @calendar-order @calendar-pay-a @calendar-pay @card @close @days-arrow @edit-t @facebook-h @facebook @grup-a @grup-h @grup-t @grup @instagram-h @instagram @kids-a @kids-h @kids-t @kids @menu-arrow @menu-close @menu-more @menu @pay-t @phone @place-head @place @sm @tel @time-a @time-h @time @vk-h @vk @water-a @water-h @water-t @water;
@spritesheet: 344px 294px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
