@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 759px) { // планшет вертикально
    .header-card {
        width: 100%;
        height: auto;
        background: #feed00;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 5px 20px;

        span {
            border: none;
            padding: 0;
            font-family: @font-alt;
            font-weight: 700;
        }
    }

    .slider-menu {
        columns: 1;
        a {
            width: 100%;
        }
    }

    .header-adress--mobile {
        display: none;
    }

    .header-contact__phone--mobile {
        display: none;
    }

    .slider-right  {
        height: 190px;

        .swiper-pagination {
            bottom: 10px;
        }
    }

    .slider-descr {
        width: 80%;
        font-size: 20px;
        line-height: 24px;
        padding: 20px 20px 40px;
    }

    .about-card {
        padding: 30px 0;
    }

    .slider-left__title {
        font-size: 20px;
        line-height: 24px;
    }

    .slider-left-inn {
        padding-left: 80px;
        padding-bottom: 10px;
    }

    .about-list {
        float: none;
        width: 100%;
    }

    .about-list-one {
        padding-left: 50px;
        margin-bottom: 30px;
        min-height: 0;
    }

    .about-list-one__text {
        font-size: 12px;
        line-height: 18px;

    }

    .about-list-one__num {
        width: 30px;
        height: 30px;
        font-size: 16px;
        padding-top: 4px;
        top: -9px;
    }

    .about-card__title {
        font-size: 22px;
    }

    .about-card__subtitle {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .about-card__descr {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .about-card__buy {
        font-size: 16px;
        width: 120px;
        margin: 0 auto 40px;
    }

    .adress {
        padding: 30px 0;
    }

    .adress-title {
        margin-bottom: 30px;
    }

    .adress-title__top {
        font-size: 24px;
    }

    .adress-title__bottom {
        font-size: 20px;
    }

    .adress-link {
        margin-bottom: 20px;
        a {
            font-size: 12px;
            margin: 0 10px;
            padding: 10px 10px 10px 30px;
            position: relative;
            &:before {
                transform: scale(0.3);
                position: absolute;
                top: -6px;
                left: 0;
            }
        }
    }

    .map {
        height: 310px;
    }

    .adress-block {
        padding: 20px 30px 0;
    }

    .adress-block__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .adress-block-cols {
        text-align: center;
    }

    .adress-block__col {
        display: inline-block;
        font-size: 13px;
        margin:0 10px 20px;


        a {
            text-decoration: underline;
        }
    }

    .footer {
        padding: 20px 0 20px;
    }

    .mainpage .footer {
        padding: 90px 0 20px;
    }

    .footer-menu {
        width: 130px;
        margin-bottom: 20px;
        a {
            font-size: 12px;
        }
    }

    .footer-social {
        right: 10px;
        top: -10px;
    }

    .social-icon {
        display: block;
        transform: scale(0.6);
        border-width: 3px;
        margin-bottom: -10px;
    }

    .footer-bottom {
        
    }

    .footer-bottom__copy {
        width: 50%;
        font-size: 10px;
    }

    .footer-bottom__sm {
        width: 50%;
        text-align: right;
        font-size: 10px;
    }

    .header-logo {
        img {
            width: 120px;
        }
    }

    .mobile-menu-top {
        height: 60px;
        padding: 14px 0;
    }

    .header-mid {
        padding: 0px 0;
        height: 60px;
    }

    .menu-mobile-open {
        top: 5px;
    }

    .mobile-contact {
        transform: scale(0.4);
        top: -5px;
        right: -20px;
    }

    .mobile-menu-close {
        right: 5px;
        top: 12px;
        transform: scale(0.4);
    }

    .header-logo--mobile {
        float: none;
        width: 120px;
    }

    .mobile-menu-list {
        ul {
            li {
                a {
                    font-size: 20px;
                    padding: 15px 20px;
                }

                ul li a {
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }
        }
    }

    .submenu i {
        height: 50px;
        width: 50px;
        right: 0;

        &:after {
            height: 15px;
            width: 3px;
            top: 20px;
            left: 26px;
        }

        &:before {
            width: 15px;
            height: 3px;
            top: 26px;
            left: 20px;
        }
    }

    .header-card-mobile {
        padding: 15px 20px;
        font-size: 20px;

        &:after {
            right: 20px;
        }
    }

    .mobile-menu-bottom {
        padding: 20px 20px 0;
    }

    .mobile-menu-submenu {
        width: 230px;

        a {
            font-size: 14px;
        }
    }

    .mobile-menu-social {
        top: 10px;
        right: 10px;
    }

    .mobile-menu-sitemap {
        font-size: 14px;
        bottom: 20px;
        right: 20px;
    }

    .mobile-adress {
        
    }

    .mobile-adress-col {
        padding: 20px;
    }

    .mobile-adress__title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .mobile-adress__line {
        font-size: 12px;
    }

    .mobile-adress__map {
        font-size: 12px;
    }

    .modal {
        width: 90%;
        margin-left: 0;
        left: 5%;
        top: 20px;
    }

    .modal--fz {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        display: none;
        margin: 0;
    }

    .order__inn {
        padding: 20px;

        p {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .order-title {
        padding-left: 40px;
        font-size: 18px;
        span {
            font-size: 10px;
        }
        &:before {
            left: -15px;
            top: -15px;
            transform: scale(0.4);
        }
    }

    .order-title--card {
        &:before {
            .sprite(@card);
            top: -15px;
            left: -25px;
        }
    }

    .order-close {
        right: 10px;
        top: 10px;
        transform: scale(0.4);
    }

    .form-line {
        input[type="text"] {
            height: 40px;
            font-size: 11px;
            padding: 0 10px;
            width: 100%;
        }

        button {
            width: 160px;
            height: 50px;
            font-size: 16px;
        }

        label {
            display: block;
        }

        input[type="radio"] {
            
            & + label {
                padding: 10px;
                color: #006465;
                cursor: pointer;
                font-size: 10px;
            }
            
            &:checked + label {
                background: #f1f2f2;
            }
        }
    }

    .form-col {
        display: inline-block;
        width: 47%;
        margin-right: 6%;
        margin-bottom: 20px;

        &:nth-child(2n) {
            margin-right: 0;
        }

    }

    .form-line--nomargin {
        margin-bottom: -40px;
        .form-col {
             width: 50%;
            margin-right: 0%;
            text-align: center;
        }
    }

    .content-right {
        padding: 20px;
    }

    .breadcrumbs {
        font-size: 9px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 14px;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 13px;
        margin-bottom: 30px;
    }

    ul li, ol li {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        td{
            border: 1px solid #f1f2f2;
            padding: 5px;
            font-size: 12px;
        }

        th {
            padding: 5px;
            font-size: 12px;
        }
    }

    .content-left {
        padding: 0 20px;
    }

    .content-menu__title {
        font-size: 20px;
        width: 25px;
        margin-right: 20px;
        top: 5px;
    }

    .content-menu {
        padding: 20px 0;
        ul {
            li {
                margin-bottom: 10px;
            }
            a {
                font-size: 12px;
            }
        }
    }

    .services {
        margin-bottom: 30px;
    }

    .service-one {
        width: 100%;
        height: 280px;
        background-size: cover;

        &:hover {
            background-size: cover;
        }
    }

    .service-one__title {
        font-size: 20px;
    }

    .service-one__icon {
        width: 80px;
        height: 80px;
        background-size: contain;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .content-inn {
        padding-top: 20px;
    }

    .gallery-top {
        img {
            height: 170px;
        }
    }

    .gallery-thumbs {
        img {
            height: 50px;
        }
    }

    .calendar-mounth {
        margin-bottom: 20px;
    }

    .calendar-mounth__this {
        font-size: 32px;
    }

    .calendar-mounth__prew {
        width: 30px;
        height: 30px;
    }

    .calendar-mounth__next {
        width: 30px;
        height: 30px;
    }

    .calendar-day {
        width: 135px;
    }

    .calendar-day-top {
        height: 50px;
    }

    .calendar-day-top__day {
        position: relative;
        display: inline-block;
        font-size: 12px;
        margin-right: 10px;

    }

    .calendar-day-top__date {
        position: relative;
        bottom: 0;
        left: 0;
        display: inline-block;
        font-size: 12px;

    }

    .calendar-day-one {
        //height: 140px;
    }

    .calendar-day__time {
        font-size: 18px;
        
    }

    .calendar-day__title {
        font-size: 16px;
    }

    .calendar-day__coach {
        font-size: 13px;
    }
    
    .service-top {
        height: 190px;
        padding-top: 30px;
        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    .service-top__subtitle {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .service-link {
        a {
            font-size: 12px;
            padding: 10px 15px;
        }
    }

    mark {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .calendar-day-top {
        padding: 15px 20px;
    }

    .calendar-days .swiper-button-prev {
        top: 24px;
    }

    .calendar-days .swiper-button-next {
        top: 24px;
    }

    .order-title--kid {
        &:before {
            left: -25px;
        }        
    }

    .order-title--grup {
        &:before {
            left: -25px;
        }
    }

    .order-title--water {
        &:before {
            left: -25px;
            top: -10px;
        }
    }

    .order-subtitle-one {
        font-size: 14px;
        padding-left: 30px;

        &:before {
            transform: scale(0.3);
            left: -20px;
        }
    }

    .order-subtitle-one--order {

    }

    .news {
        margin-bottom: 30px;
    }

    .news-one {
        margin-bottom: 30px;
    }

    .news-date {
        width: 40px;
    }

    .news-date__month {
        width: 20px;
        font-size: 10px;
    }

    .news-date__day {
        width: 20px;
        font-size: 17px;
        line-height: 17px;
    }

    .news-date__year {
        width: 20px;
        font-size: 10px;
    }

    .news-img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .news-text {
        width: 100%;
        padding: 0 0 0 40px;

        a {
            font-size: 17px;
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
        }
    }

    .pagination {
        a,
        .current {
            width: 30px;
            height: 30px;
            font-size: 12px;
            padding-top: 10px;
        }

    }

    .news-top-img {
        width: ~'calc(100% + 40px)';
        height: 190px;
        overflow: hidden;
        margin-top: -20px;
        margin-left: -20px;

        img {
            margin-top: -50%;
        }
    }

    .news-top__date {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .news-bottom {
        padding: 30px 0 0;
    }

    .foto-slider {
        margin-bottom: 30px;
    }

    .news-content {
        margin-bottom: 60px;
    }

    .contact {
        
    }

    .contact-one {
    }

    .contact-one-block {
        margin: 0 20px -20px;
        padding: 30px 20px;
    }

    .contact-one__top {
        font-size: 11px;
        margin-bottom: 0;
    }

    .contact-one__title {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 30px;
    }

    .contact-line {
    }

    .contact-col {
        width: 100%;
        font-size: 13px;
    }

    .hideme {
        display: none;
    }

    .contact-map {
        height: 230px;
    }


    .contact-form {
        padding: 30px 0;
    }

    .contact-form-inn {
        padding: 0 20px;
        .form-line {
        }

        .form-col {
            width: 100%;            
        }
    }

    .contact-form__title {
        
    }


    .qapctha {
        
    }

    .contact-form__button {
        margin: 0 auto 0 0;
    }

    .calendar-club {
        display: block;
        width: 100%;
    }

    .calendar-type {
        width: 100%;
    }

    .comand-filtr {
        .calendar-club {
            width: 100%;
            border-left: none;
        }
    }

    .comand-one {
        width: ~'calc((100% - 15px)/ 2);';
        margin: 0 0 15px;
    }

    .comand-one__icon {
        width: 45px;
        height: 45px;

        img {
            width: 100%;
        }
    }

    .comand-one-bottom {
        padding: 35px 10px 10px;
    }

    .comand-one__name {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
    }

    .comand-one__position {
        font-size: 10px;
    }

    .comand {
        margin-bottom: 30px;
    }

    .gallery {
        margin-bottom: 10px;

        a {
            width: ~'calc( (100% - 20px)/ 2 )';
            margin-right: 20px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .person-img {
        margin-top: -20px;
    }

    .mfp-arrow  {
        right: -10px;

        &:before {
            .sprite(@mf-arrow);
            transform: scale(0.5);
        }
    }

    .mfp-arrow-left {
        left: -10px;
        &:before {
            transform: rotate(180deg) scale(0.5);
        }
    }
    
    .event-top {
        height: 190px;
        padding-top: 30px;
    }

    .event-descr {
        margin: 30px 0;
    }

    .event-top__title {
        padding: 0 20px;
    }

    .rezident {
        margin-bottom: 20px;
    }

    .rezidents {
        margin-bottom: 30px;
    }

    .rezident-name {
        font-size: 12px;
    }

    .rezident__date {
        font-size: 10px;
    }
}


@media screen and (max-width: 480px) { // телефон
    
    .review-one {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

}