<article class="content">
    <div class="event-top" style="background-image: url(tmp/event-top.jpg);">
        <div class="event-top__date">15 июлья 2017</div>
        <h1 class="event-top__title">Открытый Чемпионат Свердловской области по армлифтингу и пауэрспорту</h1>
    </div>
    <div class="event-bottom">
        <div class="wrap">
            <p class="event-descr">На базе фитнес клуба Fresh Fitness, на Бажова, 68, состоялся открытый Чемпионат Свердловской области по армлифтингу и пауэрспорту</p>
            
            <div class="gallery">
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
                <a href="tmp/event-big.jpg">
                    <img src="tmp/event.jpg" alt="">
                </a>
            </div>

            <div class="news-bottom">
                <a href="#">К списку альбомов</a>
            </div>
        </div>
    </div>
</article>