<div class="about-card">
    <div class="wrap">
        <div class="about-card__title">
            клубная карта
        </div>
        <div class="about-card__subtitle">
            Fresh Fitness
        </div>
        <div class="about-card__descr">
            откройте для себя доступ к привилегиям члена клуба
        </div>
        <a href="#card" class="about-card__buy open-modal">Купить карту</a>
        
        <div class="clearfix">
            <div class="about-list about-list--left">
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        <span>1</span>
                    </div>
                    <div class="about-list-one__text">
                        Безлимитное посещение всех фитнес зон клуба
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        2
                    </div>
                    <div class="about-list-one__text">
                        Фитнес тестирование от фитнес врача
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        3
                    </div>
                    <div class="about-list-one__text">
                        Широкий спектр доп. услуг (персональный тренинг, массаж, косметология, солярий, фитнес доктор)
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        4
                    </div>
                    <div class="about-list-one__text">
                        Подземый и надземный паркинг
                    </div>
                </div>
            </div>
            <div class="about-list about-list--right">
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        5
                    </div>
                    <div class="about-list-one__text">
                        Индивидуальный подход к каждому клиенту
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        6
                    </div>
                    <div class="about-list-one__text">
                        Комплект из 3-х полотенец и халат на каждую тренировку
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        7
                    </div>
                    <div class="about-list-one__text">
                        Скидка по клубной карте от партнеров сети фитнес клубов Fresh Fitness
                    </div>
                </div>
                <div class="about-list-one">
                    <div class="about-list-one__num">
                        8
                    </div>
                    <div class="about-list-one__text">
                        Участие в мероприятиях сети фитнес клубов Fresh Fitness
                    </div>
                </div>
            </div>
        </div>

            <div class="about-img--1">
                <img src="img/image_hand-kart.png" alt="">
            </div>
            <div class="about-img--2">
                <img src="img/obj-1.png" alt="">
            </div>
            <div class="about-img--3">
                <img src="img/obj-2.png" alt="">
            </div>
    </div>
</div>


