<div class="slider-main clearfix">

        
        <div class="slider-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(tmp/slide.jpg);">
                    <div class="slider-descr">
                        Занимайся фитнесом, обретая гармонию души и тела
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(tmp/slide.jpg);">
                    <div class="slider-descr">
                        Занимайся фитнесом, обретая гармонию души и тела
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(tmp/slide.jpg);">
                    <div class="slider-descr">
                        Занимайся фитнесом, обретая гармонию души и тела
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-left">
            <div class="slider-left-inn">
                <div class="slider-left__title">услуги клуба</div>
                <div class="slider-menu">
                    <a href="#"><i style="background-image: url(tmp/icon/usl1.png);"></i>Тренажерный зал</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl2.png);"></i>центр боевых искусств и кроссфита</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl3.png);"></i>групповые программы</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl4.png);"></i>водные программы</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl5.png);"></i>СТУДИЯ MIND BODY</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl6.png);"></i>детский клуб</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl7.png);"></i>фитнес-бар</a>
                    <a href="#"><i style="background-image: url(tmp/icon/usl8.png);"></i>SPA-ЗОНА и солярий</a>
                </div>
            </div>
        </div>
</div>

