<article class="content">
    <div class="wrap content-inn">
        <div class="news-top">
            <div class="person-img">
                <div class="person-photo grid swiper-wrapper">
                        <a class="grid-item swiper-slide" href="tmp/foto1.jpg">
                            <img src="tmp/foto1.jpg" alt="">
                        </a>
                        <a class="grid-item swiper-slide" href="http://www.fresh-fitness.ru/storage/app/uploads/public/599/d2e/e73/599d2ee7345e3432852016.png">
                            <img src="tmp/foto3.jpg" alt="">
                        </a>
                        <a class="grid-item swiper-slide" href="tmp/foto1.jpg">
                            <img src="tmp/foto4.jpg" alt="">
                        </a>
                        <a class="grid-item swiper-slide" href="tmp/foto1.jpg">
                            <img src="tmp/foto2.jpg" alt="">
                        </a>
                </div>
            </div>
            <div class="news-content">
                <h1 class="content__title">Лихачева Юлия</h1>
                <div class="comand-person__position">
                    Координатор  |  клуб ул. Мельникова, 27
                </div>

                <mark>Руководитель групповых программ сети Fresh Fitness, инструктор ГП и Тренажерного зала, персональный тренер.</mark>

                <p>
                <b>Образование:</b><br>
                Свердловский Областной Колледж Культуры, специализация – хореография. Тюменский Гос. Инст.Физ. Культуры ( 2008 г.) Академия Управления и Экономики (специализация «Сервис и Туризм»).</p>

                <p>
                    <b>Стаж:</b><br>
                    Опыт тренерской деятельности с 1995 г.
                </p>

                <p>
                    <b>Дополнительное образование:</b><br>
                    прохождение семинаров Базовая аэробика, STEP-аэробика (1,2 уровень), PILATES ( малое и большое оборудование), Танцевальная аэробика, «Разумное тело», «Фитнес и беременность», Функциональный тренинг; 
                </p>

                <p>Презентер Региональных Фитнес Конвенций;
                Автор программ с заданной хореографией, Balance, Pump;</p>

                <p>
                    <b>Ведет направления: </b><br>
                    степ-аэробика, силовые и танцевальные уроки, PILATES, Balance, Pump, Stretching.
                </p>

                <div class="gallery">
                    <a href="tmp/sert.jpg">
                        <img src="tmp/sert.jpg" alt="">
                    </a>
                    <a href="tmp/sert.jpg">
                        <img src="tmp/sert2.jpg" alt="">
                    </a>
                    <a href="tmp/sert.jpg">
                        <img src="tmp/sert2.jpg" alt="">
                    </a>
                </div>

                

                <div class="news-bottom">
                    <a href="#">К списку команды</a>
                </div>
            </div>
        </div>
            
            

            
    </div>
        
</article>