<article class="content">
    <div class="wrap content-inn">
            <h1 class="content__title">новости</h1>
            
            <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="#">Главная</a> / <span>новости</span>
            </div>
            
            <div class="news">
                <div class="news-one">
                    <div class="news-date">
                        <div class="news-date__month">окт</div>
                        <div class="news-date__day">12</div>
                        <div class="news-date__year">2017</div>
                    </div>
                    <a href="#" class="news-img">
                        <img src="tmp/news-list1.jpg" alt="">
                    </a>
                    <div class="news-text">
                        <a href="#">Дистанционный Чемпионат Fresh Fitness по плаванию</a>
                        <p>Подробные условия на рецепции клуба и у инструкторов водных программ.</p>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-date">
                        <div class="news-date__month">окт</div>
                        <div class="news-date__day">12</div>
                        <div class="news-date__year">2017</div>
                    </div>
                    <a href="#" class="news-img">
                        <img src="tmp/news-list2.jpg" alt="">
                    </a>
                    <div class="news-text">
                        <a href="#">Дистанционный Чемпионат Fresh Fitness по плаванию</a>
                        <p>Подробные условия на рецепции клуба и у инструкторов водных программ.</p>
                    </div>
                </div>
                <div class="news-one">
                    <div class="news-date">
                        <div class="news-date__month">окт</div>
                        <div class="news-date__day">12</div>
                        <div class="news-date__year">2017</div>
                    </div>
                    <a href="#" class="news-img">
                        <img src="img/no-img.jpg" alt="">
                    </a>
                    <div class="news-text">
                        <a href="#">Дистанционный Чемпионат Fresh Fitness по плаванию</a>
                        <p>Подробные условия на рецепции клуба и у инструкторов водных программ.</p>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <span class="current">1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </div>
    </div>
        
</article>